/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

/* Reset & Global Styles */
* {
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/* Colors */
:root {
    --DarkBlue: hsl(209, 23%, 22%);
    --VeryDarkBlue1: hsl(207, 26%, 17%);
    --VeryDarkBlue: hsl(200, 15%, 8%);
    --DarkGray: hsl(0, 0%, 52%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

/* Header */
.headerContainer {
    width: 100%;
    padding: 24px 5.5%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.Dark-Mode-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.Dark-Mode-On {
    background-color: var(--DarkBlue);
    color: var(--White);
}

.Dark-Mode-Off {
    background-color: var(--White);
    color: var(--VeryDarkBlue);
    transition: all 0.5s ease;
}

/* Cards */
.Countries-Cards-Section {
    width: 100%;
    padding: 0px 5.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
    row-gap: 70px;
}

.card-Container {
    max-width: 350px;
    height: 330px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-Container .logo {
    width: 100%;
    height: 50%;
}

.card-Container .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-Container .Country-Info {
    padding: 8%;
    flex: 1;
}

.card-Container .Country-Info h3 {
    padding-bottom: 15px;
}

.card-Container .Country-Info ul {
    list-style-type: none;
}

.card-Container .Country-Info ul li {
    padding-bottom: 5px;
}

.card-Container .Country-Info ul li span {
    color: var(--VeryLightGray);
    font-weight: 300;
}

.Dark-Mode-Cards {
    background-color: var(--DarkBlue);
    transition: all 0.5s ease;
}

.Dark-Mode-Cards .Country-Info ul li span {
    color: var(--White);
    transition: all 0.4s ease;
}

.Light-Mode-Cards .Country-Info ul li span {
    color: var(--VeryDarkBlue);
    transition: all 0.4s ease;
}

/* Info Page */
.Info-Page-Container {
    width: 100%;
    padding: 8vh 5.5%;
    height: 100vh;
}

.Go-Back-Button-Container {
    padding-top: 20%;
    text-decoration: none;
}

.Go-Back-Button {
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 40px;
    font-size: 15px;
    border: 1px solid #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.189);
    letter-spacing: 1px;
    border-radius: 5px;
}

.Main-content {
    padding-top: 11vh;
    display: grid;
    grid-template-columns: 44% 1fr;
    column-gap: 11%;
    height: 70%;
}

.Country-Flag {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Country-Flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Country-Informations {
    width: 100%;
    height: 100%;
}

.Country-Details {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-bottom: 13%;
}

.Country-Details ul li {
    list-style-type: none;
    padding: 5px;
}

.BorderCountries-Container div {
    display: inline;
}

.label-border-countries {
    padding-right: 13px;
}

.BorderCountry-Button button {
    transition: all 0.5s ease;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.283);
}

.Info-Page-Dark-Mode-On {
    transition: all 0.5s ease;
    background-color: var(--VeryDarkBlue1);
    color: var(--White);
}

.Info-Page-Dark-Mode-On .Go-Back-Button {
    color: var(--White);
    background-color: var(--DarkBlue);
}

.Info-Page-Dark-Mode-On .Country-Details ul li span {
    color: var(--White);
    transition: all 0.5s ease;
}

.Info-Page-Dark-Mode-On .BorderCountry-Button button {
    background-color: var(--DarkBlue);
    color: var(--White);
}

/* Responsiveness */
@media (max-width: 430px) {
    .headerContainer {
        font-size: x-small;
    }

    .HomePage-Container nav {
        flex-wrap: wrap;
        gap: 30px;
    }

    .SearchBar {
        width: 100%;
    }

    .Countries-Cards-Section {
        grid-template-columns: 1fr;
        font-size: small;
        padding: 7vh 40px;
    }

    .Go-Back-Button {
        transform: scale(0.8);
    }

    .Info-Page-Container .Main-content {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .Country-Flag {
        width: 100%;
        height: auto;
    }

    .Country-Flag img {
        width: 100%;
        height: auto;
    }

    .Country-Informations {
        padding-top: 40px;
        width: 100%;
    }

    .Country-Details {
        flex-direction: column;
        padding-bottom: 13%;
    }

    .BorderCountry-Button button {
        font-size: xx-small;
        padding: 5px 20px;
    }
}