.header {
    background-color: #ffffff;
    color: #111517;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.25rem;
    font-weight: 800;
}