.toggleButton {
    background-color: #eee;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.toggleButton:hover {
    background-color: #ddd;
}