/* Container for both search input and region dropdown */
.filtersContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

@media (min-width: 780px) {
    .filtersContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}